@font-face {
    font-family: "ShinRetroMaruGothic-Medium";
    src: url("font/ShinRetroMaruGothic-Medium.ttf") format("truetype");
}

* {
    font-family: "ShinRetroMaruGothic-Medium", sans-serif;
}

html, body {
    overflow-x: clip;
    width: 100%;
}

body {
    margin: 0;
}

@media (min-width:768px) {

    #header {
        display:block;
        width: 100%;
        position: relative;
        z-index: 10;
    }

    .top {
        position: relative;
        margin-top: -3vw;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top2 {
        width: 79%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    .icon_box {
        position: relative;
        width: 30vw;
        margin-top: -1vw;
        background-color: rgb(255, 251, 250);

        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1.1;
    }


    #icon {
        width: 100%;
    }

    .name {
        font-size: 1.2vw;
        color: #ff9a9a;
        padding-left: 0.3vw;

        display: flex;
        justify-content: center;
    }

    .rink_box {
        position: relative;
        margin-top: -1vw;
        width: 50vw;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        flex: 4;
    }

    .rink_box1 {

        display: flex;
        flex-direction: column;
        gap: 1vw;
    }

    .rink_box2 {
        position: relative;
        width: 30vw;

        display: flex;
        align-items: center;    
    }

    .rink_icon {
        width: 100%;
        display: block;
    }

    .rink {
        font-size: 2.2vw;
        position: absolute;
        top: 2vw;
        left: 2.8vw;
        color: #83b9ff;
    }



    .score {
        position: relative;
        width: 100%;
        height: 8vw;
        color: #ff7676;


        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
    }

    .score2 {
        position: relative;
        width: 40%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img_score{
        position: absolute;
        width: 41vw;

        display: flex;
        flex: 10;
    }

    .str_score {
        font-size: 3vw;
        position: absolute;
        padding-left: 7vw;

        display: flex;
        flex: 10;
    }

    .yke {
        position: relative;
        width: 100%;
        font-size: 1.6vw;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .yke2 {
        position: relative;
        width: 95%;
        background-color: #00000054;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .yke2_h2 {
        width: 100%;
        margin-top: 0vw;
        background-color: #ffffffc7;
        color: #505050;

        display: flex;
        justify-content: center
    }

    .yke2_p {
        position: relative;
        margin-top: -1vw;
        font-size: 1.6vw;
        line-height: 1.3vw;
        color: #ffcfcf;
    }

    #yke2_p2 {
        font-size: 2.2vw;
        color: #ffe3e3;
    }

    .data {
        position: relative;
        top: 1vw;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main1 {
        width: 95%;
        height: auto;
        font-size: 1.9vw;
        background-color: #00000054;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5%;
    }

    .h2_main1 {
        width: 95%;
        height: 5vw;
        font-size: 1.5vw;
        color: #505050;
        background-color: #ffffffc7;


        display: flex;
        justify-content: right;
        align-items: center;
        gap: 10vw;
    }

    #h2_main1_1 {
        padding-right: 5vw;
    }

    #h2_main1_2 {
        padding-right: 30vw;
        padding-left: 13.2vw;
    }

    .katudou_naiyou {
        color: #ffef92;
        border-right: 0.3vw dashed #7e7e7e;
    }

    .ru-ru {


        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .ru-ru1 {
        color: #ffb9b9;

        display: flex;
        justify-content: center;
        gap: 1vw;
    }

    .main1_ul {
        position: relative;
        width: 100%;
        font-size: 85%;

        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .now_box {
        position: relative;
        top: 3vw;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main2 {
        position: relative;
        width: 80%;
        height: auto;
        font-size: 1.5vw;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10vw;
    }

    .douga1 {
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
    }

    .douga1 h2 {
        color: #505050;
    }

    .douga1 h3 {
        color: #0975a0;
    }

    .haikei {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;

        z-index: -1;
    }
}

/*スマホ用*/


@media (max-width: 767px) {

    #header_div {
        width: 100%;
        height: auto;
        overflow: hidden;
    }


    #header {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 150%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 10;
    }

    .top {
        position: relative;
        margin-top: -3vw;
        width: 98%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top2 {
        position: relative;
        width: 98%;
        height: auto;
        left: 3%;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    .icon_box {
        position: relative;
        width: 30%;
        margin-top: -16vw;
        background-color: rgb(255, 251, 250);

        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #icon {
        width: 100%;
    }

    .name {
        font-size: 2vw;
        color: #ff9a9a;
        padding-left: 0.3vw;

        display: flex;
        justify-content: center;
    }

    .rink_box {
        position: relative;
        margin-top: -1vw;
        width: 60%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .rink_box1 {
        position: relative;
        width: 100%;

        display: flex;
        align-items: center;    
        flex-direction: column;
    }

    .rink_box2 {
        position: relative;
        width: 80%;
        height: auto;

        display: flex;
        align-items: center;    
    }

    .rink_icon {
        width: 100%;
        display: block;
    }

    .rink {
        font-size: 3.4vw;
        position: absolute;
        top: 3vw;
        left: 3vw;
        color: #83b9ff;
    }



    .score {
        position: relative;
        width: 80%;
        left: 2vw;
        margin-top: -14.5vw;
        color: #ff7676;

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1vw;
    }

    .score2 {
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .img_score{
        position: relative;
        width: 39vw;

    }

    .str_score {
        font-size: 2.7vw;
        position: absolute;
        padding-left: 9vw;
    }

    .yke {
        position: relative;
        width: 100%;
        font-size: 2vw;
        margin-top: 2vw;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .yke2 {
        position: relative;
        width: 95%;
        background-color: #00000054;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .yke2_h2 {
        width: 100%;
        margin-top: 0vw;
        background-color: #ffffffc7;
        color: #505050;

        display: flex;
        justify-content: center
    }

    .yke2_p {
        position: relative;
        margin-top: -1vw;
        font-size: 2.3vw;
        line-height: 1.5vw;
        color: #ffcfcf;
    }

    #yke2_p2 {
        font-size: 2.8vw;
        color: #ffe3e3;
    }

    .data {
        position: relative;
        top: 1vw;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main1 {
        position: relative;
        width: 95%;
        height: auto;
        font-size: 3vw;
        background-color: #00000054;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2vw;
    }

    .h2_main1 {
        width: 95%;
        height: 6.8vw;
        font-size: 2vw;
        color: #505050;
        z-index: 1;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 17vw;
    }

    #h2_main1_1 {
        width: 100%;
        background-color: #ffffffc7;

        display: flex;
        justify-content: center;
    }

    #h2_main1_2 {
        width: 100%;
        background-color: #ffffffc7;

        display: flex;
        justify-content: center;
    }

    .katudou_naiyou {
        width: 100%;
        color: #ffef92;

        display: flex;
        justify-content: center;
    }

    .ru-ru {


        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .ru-ru1 {
        width: 100%;
        color: #ffb9b9;

        display: flex;
        justify-content: center;
        gap: 1vw;
    }

    .main1_ul {
        position: relative;
        font-size: 2.6vw;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .now_box {
        position: relative;
        top: 3vw;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main2 {
        position: relative;
        width: 90%;
        height: auto;
        font-size: 2vw;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5vw;
    }

    .douga1 {
        position: relative;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1;
    }

    .douga1 h2 {
        color: #505050;
    }

    .douga1 h3 {
        color: #0975a0;
    }

    .haikei {
        position: fixed;
        top: 0;
        left: 0;

        width: 150%;
        height: 150%;

        object-fit: cover;

        z-index: -1;
    }

}
